* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Roboto Thin", sans-serif;
}

.container {
    display: flex;
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
    padding-left: 20px;
}

a {
    text-decoration: none;
}

#header {
    background-color: #1f2937;
    padding: 5px 15%;
}

#top-header {
    justify-content: space-between;
    margin-bottom: 80px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.links a, .secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

.main-text {
    font-weight: bolder;
    font-size: 48px;
    margin: 5px;
    color: #F9FAF8;
}

.secondary-text {

}

button {
    background-color: #3882F6;
    color: white;
    border:none;
    font-size: 16px;
    border-radius: 10px;
    padding: 10px 30px;
}

.hero-text {
    flex: 1;
    padding-right: 20px;
}

.hero-img {
    width: 100px;
    background-color: #6D747EFF;
    flex: 1;
}

#bottom-header {
    margin-bottom: 100px;
}

.action {

}

.information {
    padding: 5px 15%;
}

.information-heading {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.information .container {
    margin: 0 10%;
    justify-content: space-around;
}

.img-card {
    width: 120px;
    text-align: center;
    font-size: 12px;
    font-weight: lighter;
}

.information .img {
    width: 100%;
    height: 115px;
    border: 2px solid #3882F6;
    border-radius: 10px;
}

.quote {

}

#footer {

}
